{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 <div class='contentPage'>
    <main class="container">
        <div class="row homeLayout">
            <div class="col-lg-8 col-sm-12">
                <h3 class="fs-1 titleArticle pb-7 mb-4 fst-italic border-bottom m-5">Articles</h3>
                <div id="article-list">
                    {% include 'article/list.html.twig' with { articles } %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="position-sticky" style="top: 2rem">
                 {# {% include 'widget/about.html.twig' %} #}
                 {% include 'widget/categories.html.twig' %}
                </div>    
            </div>
        </div>
    </main>
</div>
{% endblock %}
