<div class="p-4">
    <h4 class="fst_italic">Catégories</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a class="text-decoration-none" href="#">Japan video</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Japan video</a>
        </li>
    </ol>
</div>